* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.moving-border {
  border-radius: 10px;
  position: relative;
  background: #111;
  padding: 4px;
  display: inline-block; /* Ensure the span wraps tightly around the canvas */
}

#canvas {
  border-radius: 10px;
  display: block; /* Ensures no extra space around the canvas */
  width: 400px; /* Same width and height as in JS */
  height: 600px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.moving-border::before,
.moving-border::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), #032146, #C3F2FF, #b00);
  animation: rotate 10s linear infinite;
}

.moving-border::after {
  filter: blur(10px);
}

@keyframes rotate {
  0% {
      --angle: 0deg;
  }
  100% {
      --angle: 360deg;
  }
}
